[user]
  name = Jacob Bearden
  email = jacob@bearden.io
  signingkey = 0x027E9375E3D017CB
[alias]
  st = status
  a = add
  aa = add --all
  ci = commit
  br = branch
  co = checkout
  coi = checkout-interactive
  cop = checkout-pr
  di = diff
  lb = checkout -
  up = pull --rebase --autostash

  tags = tag -l
  branches = branch -a
  remotes = remote -v

  amend = commit --amend --reuse-message=HEAD
  recent = log --pretty=oneline -n 20 --graph --abbrev-commit
  go = "!f() { git checkout -b \"$1\" 2> /dev/null || git checkout \"$1\"; }; f"
[push]
  default = current
  followTags = true
[pull]
  default = current
  followTags = true
[branch]
  autosetuprebase = always
[core]
  excludesfile = ~/.gitignore
[diff]
  compactionHeuristic = true
