# macOS file clutter
.DS_Store

# sublime
*.sublime-workspace

# java stuff
*.class
*.jar
*.ear
*.war

# maven clutter
dependency-reduced-pom.xml

# intellij clutter
*.iml
.idea/

# vim files
*.swp

# python
*.pyc

# ruby
*.gem
*.rbc
/.yardoc/
/_yardoc/
/doc/
/rdoc/

# nodejs
node_modules/
.nodemon-find-ref

# redis
*.rdb

# microsoft office
~\$*.docx
