# --------------------- #
# Global .gitignore
# --------------------- #

# OS file clutter
# --------------------- #
.DS_Store
Desktop.ini
._*
Thumbs.db
.Spotlight-V100
.Trashes

# Ignore vim files
# --------------------- #
*.swp

# Sublime
# --------------------- #
*.sublime-workspace

# Node.js
# --------------------- #
node_modules/
.nodemon-find-ref
*.log

# Python
# --------------------- #
*.pyc

# Ruby
# --------------------- #
*.gem
*.rbc
/.yardoc/
/_yardoc/
/doc/
/rdoc/

# Java Stuff
# --------------------- #
*.class
*.jar
*.ear
*.war
