# listing
alias ls='ls --color=auto -h --group-directories-first'
alias ll='ls -alF'
alias la='ls -A'
alias l='ls -CF'

# color grep output by default
alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'

# shortcuts
alias vi='vim'
alias g='git'
alias h='history'

# server guick starts
alias js='jekyll serve --drafts'

# maintain wget connection by default
alias wget='wget -c'

# get week number
alias week='date +%V'

# stopwatch
alias timer='echo "Timer started. Stop with Ctrl-D." && date && time cat && date'

# enable aliases to be sudo'ed
alias sudo='sudo '

# add an "alert" alias for long running commands.  Use like so:
#   sleep 10; alert
alias alert='notify-send --urgency=low -i "$([ $? = 0 ] && echo terminal || echo error)" "$(history|tail -n1|sed -e '\''s/^\s*[0-9]\+\s*//;s/[;&|]\s*alert$//'\'')"'

# reload config
alias resource='source ~/.bash_profile && echo "OK"'
