[user]
	name = Jacob Bearden
	email = jacob.bearden0@gmail.com
[alias]
	st = status
	a = add
	aa = add --all
	ci = commit
	br = branch
	co = checkout
	di = diff

	tags = tag -l
	branches = branch -a
	remotes = remote -v

	lb = checkout -
	up = pull --rebase --autostash
	amend = commit --amend --reuse-message=HEAD

	go = "!f() { git checkout -b \"$1\" 2> /dev/null || git checkout \"$1\"; }; f"
[commit]
	gpgsign = true
[push]
	default = current
	followTags = true
[pull]
	default = current
[branch]
	autosetuprebase =  always
[diff]
	renames = copies
	compactionHeuristic = true
[merge]
	log = true
[core]
	excludesfile = ~/.gitignore
	attributesfile = ~/.gitattributes

	whitespace = space-before-tab,-indent-with-non-tab,trailing-space

	pager = "diff-so-fancy | less --tabs=4 -RFX"
[apply]
	whitespace = fix
[github]
	user = jacobbearden
