<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="git" />
  <package id="nvm" />
  <package id="vim" />

  <package id="1password" />
  <package id="7zip" />
  <package id="azure-cli" />
  <package id="caprine" />
  <package id="googlechrome" />
  <package id="discord" />
  <package id="f.lux" />
  <package id="firefox" />
  <package id="keybase" />
  <package id="notion" />
  <package id="nuget.commandline" />
  <package id="powertoys" />
  <package id="qbittorrent" />
  <package id="resharper" />
  <package id="slack" />
  <package id="spotify" />
  <package id="sql-server-management-studio" />
  <package id="visualstudio2019professional" />
  <package id="vlc" />
  <package id="vscode" />
  <package id="windirstat" />

  <package id="jetbrainsmono" />
</packages>