"*":
  core:
    disabledPackages: [
      "background-tips"
      "exception-reporting"
      "metrics"
      "welcome"
      "whitespace"
    ]
  editor:
    fontFamily: "Fira Code"
    showIndentGuide: true
    showInvisibles: true
    zoomFontWhenCtrlScrolling: false
  "file-icons":
    coloured: false
  minimap:
    plugins:
      cursorline: true
      cursorlineDecorationsZIndex: 0
  "tree-view":
    hideIgnoredNames: true
